.topNav {
    display: inline;
}
#topLog{
    padding: 0;
    margin-bottom: 20px;
    background-color: #24292e;
    color: #ffffff;
    font-size: 10px;
}
#userLis{
    padding: 0;
}
.userNav ,li{
    display: inline;
}
.user{
     float: left;
 }
#logo{
    float: left;
}
.first{
    width: 500px;
    float: left;
}
.second{
    width: 100px;
}
.buffer{
    float: right;
}
#tableH{
    background-color: aliceblue;
}